@use "../../styles/variables" as *;

.contact {
    text-align: center;
    padding: 6rem 1rem;
    background: $color-bg;

    &__title {
        font-size: 3.2rem;
        margin-bottom: 1rem;
        color: $color-primary;
    }

    &__text {
        max-width: 600px;
        margin: 0 auto 2rem;
        font-size: 2.2rem;
        color: $color-txt;
    }
}