@use "../../styles/variables" as *;

/* structurelle : conteneur de cartes */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

@media (max-width: 768px) {
    .cards-container {
        gap: 6rem;
    }
}