@use "../../styles/variables" as *;

.card {
    max-width: 22rem;
    background: $color-white;
    border-radius: 1.25rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.25s ease;

    &:hover {
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__image {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        &--single {
            flex-direction: column;
            align-items: center;
        }
    }
}