@use "../../styles/variables" as *;

.about-me {
    // background: $color-txt;
    color: $color-txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    opacity: 0; // départ invisible
    transition: opacity 1s ease-in-out;
    margin: 1rem;
    border-radius: 1.25rem;
    gap: 1rem;

    &.visible {
        opacity: 1; // devient visible
    }

    p {
        max-width: 800px;
        font-size: 1.1rem;
        line-height: 1.8;
        color: $color-txt;
        text-align: center; // centrage du texte
        white-space: pre-wrap; // conserve les sauts de ligne
    }
}