.hover-menu {
    position: relative;
    display: inline-block;

    &__trigger {
        padding: 0.6rem 1.2rem;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: all 0.2s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font: inherit;


    }

    &__panel {
        position: absolute;
        left: 0;
        margin-top: 0.5rem;

        width: 14rem;
        background: white;
        border-radius: 0.75rem;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 0.3rem 0;

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
        z-index: 10;

        animation: fadeIn 0.15s ease-out;
    }


    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        width: 100%;
        padding: 0.6rem 1rem;
        text-align: left;
        border-radius: 0;
        background: none;
        box-shadow: none;
        font: inherit;
        cursor: pointer;
        transition: background 0.15s ease, transform 0.15s ease;

        &:hover {
            background: #f3f3f3;
            transform: translateY(-1px);
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}