// src/App.scss
// 
@use "./styles/variables" as *;

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    background-color: $color-bg;
    min-height: 100vh;
    padding: 3rem 2rem 0rem 2rem;
}

main {
    flex: 1;
    width: 100%;
    padding: 2rem 1rem;
}

/* Typographie générale */
h1,
h2,
h3,
h4,
h5 {
    font-family: $font-title;
    font-weight: 700;
}

p {
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: $font-body;
}

/* Boutons génériques */
.btn {
    cursor: pointer;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
}

/* Classes utilitaires */
.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}