/* src\index.css */

/* Reset CSS minimaliste */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts et body global */
html,
body {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  background-color: #fdfdfd;
  /* blanc cassé pour différencier du blanc pur */
  color: #333;
  scroll-behavior: smooth;
  /* smooth scroll pour les ancres */
}

/* Liens globaux */
a {
  text-decoration: none;
  color: inherit;
}

/* Listes sans style */
ul,
ol {
  list-style: none;
}