@use "../../styles/variables" as *;

.footer {
    width: 100%;
    background-color: $color-footer;
    color: $color-white;
    padding: 2.5rem 1rem;
    border-radius: 2rem 2rem 0rem 0rem;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__version {
        text-align: center;
        font-size: 0.875rem;
    }

    .footer__btn {
        // styles génériques pour le PdfButton
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: bold;

        &:hover {
            opacity: 0.85;
        }
    }

    .footer__btn--share {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color-footer;
        color: $color-white;

        i {
            font-size: 1.2rem;
            pointer-events: none;
        }
    }

    .fa-file-pdf {
        color: $color-white;
    }

    .footer__message {
        text-align: center;
        font-size: 0.875rem;
        color: $color-white;
        margin: 0;
    }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        gap: 0.75rem;

        .footer__version {
            order: 3;
            margin-top: 0.5rem;
        }

        .footer__btn,
        .share-portfolio {
            order: 1;
        }
    }
}